@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="sidelist">
    <p>@Session.IsNewSession</p>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

@if (@Session["login"] == null) {
    <div class="login">
        @if (ViewData["Login error"] != null)
        {
            <p class="error">@ViewData["Login error"]</p>
        }
        @using (Html.BeginForm(FormMethod.Post))
        {
            <p>Введите данные для входа на почтовый ящик:</p>
            <input type="email" name="Email" placeholder="E-mail" required/>
            <input type="password" name="Password" placeholder="Password" required/>
            @Html.DropDownList("Server.Id", new SelectList(ViewBag.Servers, "Id", "Name", selectedValue:ViewBag.ServerId));
            <br>
            <input type="submit" name="Войти" />
        }
    </div>
}