@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EMAIL";
}



@{ if (@Session.Count > 0) {
    @section Scripts {
        @Scripts.Render($"/Scripts/sidelist.loader.js?v={DateTime.Now.Millisecond}")
    }
    <div id="sidelist">
        @*{Html.RenderPartial("MailList");}*@
        <p id="empty">Пусто</p>
        <p id="loading">Грузим письма...</p>
    </div>
    <div id="content"></div>
    
}
else{
    <div class="login">
        @if (ViewData["Login error"] != null)
        {
            <p class="error">@ViewData["Login error"]</p>
        }
        @using (Html.BeginForm(FormMethod.Post))
        {
            <p>Введите данные для входа на почтовый ящик:</p>
            <input type="email" name="Email" placeholder="E-mail" required />
            <input type="password" name="Password" placeholder="Password" required />
            @Html.DropDownList("Server.Id", new SelectList(ViewBag.Servers, "Id", "Name", selectedValue: ViewBag.ServerId));
            <br>
            <button type="submit">Войти</button>
        }
    </div>
}}