<div id="mailinfo">
    <p id="title">Заголовок сооооооооооооооооооооооооообщеня поыфпдлвоы лдопдв</p>
    <p id="sender">Отправитель дываоп лвыап</p>
    <p id="datetime">дата и время</p>
</div>
<div id="mail">
    @ViewBag.Text
    @ViewBag.Body
</div>
